%nav.navbar
    %div.container.navbar-container
        
        %ul.navbar-nav
            %li.nav-item
                %a.nav-link{ href: "#" } Home
            %li.nav-item
                %a.nav-link{ href: "/Trails" } Trails
            %li.nav-item
                %a.nav-link{ href: "Courses" } Courses
            %li.nav-item
                %a.nav-link{ href: "Goodies" } Goodies